<!-- About Page (in embeddable Ruby format) -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <title>gormandize | help </title>

  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    </head>

    <body>

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">gormandize</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/about">About Us</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
          </div>
        </div>
      </nav>


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="help">
        <div class="container">
          <div class="helpText">
            <div class="helpHeading">Help
            </div>
            <div class="helpSubheading">Having issues searching? Here are some tips...</div>
          </div>
        </div>
      </div>

      <div id="helpTips">
        <div class="container">

        <!-- Example row of columns -->
            <ul>
              <li> Make sure to specify full addresses when typing in a location. For example, if you wanted to search for pizza near downtown, your full location should be entered as "1 South Van Ness, San Francisco, CA". If you only provide "1 South Van Ness", the Yelp/Foursquare APIs may not be able to deduce which city to properly search in.
              </li>
              <br>
              <li> Want more photos? Type in the number of the venue result you'd like to return photos for and click the "Get More Photos" button.
              </li>
              <br>
              <li> Want to view the restaurant result's menu? Click the "View Menu" link in the results.
              </li>
              <br>
              <li> Still need help? Shoot us an email at gormandize.contact@gmail.com
              </li>
              <br>
            </ul>
        </div>
      </div>

      <footer class="footer">
        <div class="footer-text">
          <p>© gormandize (an SFSU CSC690 class project)</p>
          <ul>
            <li><a href="mailto:gormandize.contact@gmail.com">contact us</a></li>
            <li><a href="/tech">technology</a></li>
            <li></li>
          </ul>
        </div>
      </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
  </body>
  </html>

